@page
@model Half_Chess__Razor_Server_.Pages.Users.IndexModel
@using Half_Chess__Razor_Server_.Pages.Users 
@{
    ViewData["Title"] = "D&Q";
}

<h1>Data & Queries</h1>

@if (Model.CurrentTableFormat == IndexModel.TableFormat.FullTable)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblUsers[0].LastPlayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPlayed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-isUser="@true">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}
else if (Model.CurrentTableFormat == IndexModel.TableFormat.LastPlayedOnly)
{
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Last Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.PlayerLastPlayedList)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.LastGameDate?.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.CurrentTableFormat == IndexModel.TableFormat.GamesPlayed)
{
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Games Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.GamesPlayedList)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Games</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.CurrentTableFormat == IndexModel.TableFormat.GroupedByCountry)
{
    <h2>Players Grouped by Country</h2>
    @foreach (var group in Model.PlayersByCountryList)
    {
        <h3>@group.Country</h3>
        <ul>
            @foreach (var player in group.Players)
            {
                <li>@player.FirstName @player.LastName - @player.Phone</li>
            }
        </ul>
    }
}
else if (Model.CurrentTableFormat == IndexModel.TableFormat.ByGamesPlayedDescending)
{
    <h2>Players by Games Played</h2>
    @foreach (var group in Model.PlayersByGames)
    {
        <h3>@group.GamesCount @((group.GamesCount == 1) ? "Game" : "Games"):</h3>
        <ul>
            @foreach (var player in group.Players)
            {
                <li>@player.FirstName @player.LastName</li>
            }
        </ul>
    }
}
else if (Model.CurrentTableFormat == IndexModel.TableFormat.ShowGamesTable)
{
    <table class="table">
        <thead>
            <tr>
@*                <th>@Html.DisplayNameFor(model => model.TblGamesList[0].Id)</th>
*@              <th>@Html.DisplayNameFor(model => model.TblGamesList[0].PlayerID)</th>
                <th>@Html.DisplayNameFor(model => model.TblGamesList[0].PlayerName)</th>
@*                <th>@Html.DisplayNameFor(model => model.TblGamesList[0].GameMoves)</th>
*@              <th>@Html.DisplayNameFor(model => model.TblGamesList[0].StartGameTime)</th>
                <th>@Html.DisplayNameFor(model => model.TblGamesList[0].GameDuration)</th>
                <th>@Html.DisplayNameFor(model => model.TblGamesList[0].Winner)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.TblGamesList)
            {
                <tr>
@*                    <td>@game.Id</td>
*@                  <td>@game.PlayerID</td>
                    <td>@game.PlayerName</td>
@*                    <td>@game.GameMoves</td>
*@                  <td>@game.StartGameTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@game.GameDuration</td>
                    <td>@game.Winner</td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@game.Id" asp-route-isUser="@false">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



<form method="post">
    <button asp-page="" asp-page-handler="SortByName" class="btn btn-dark" autofocus> Sort by name (case insensitive) </button>
    <br />
    <br />
    <button asp-page="" asp-page-handler="ShowLastPlayed" class="btn btn-dark"> Players last game time </button>
    <br />
    <br />
    <button asp-page="" asp-page-handler="ShowFirstPlayersByCountry" class="btn btn-dark"> Show first players by country </button>
    <br />
    <br />
    <button asp-page="" asp-page-handler="ShowGamesPlayedByEachPlayer" class="btn btn-dark"> Show amount of games played by player </button>
    <br />
    <br />
    <button asp-page="" asp-page-handler="GroupPlayersByCountry" class="btn btn-dark">Group Players by Country</button>
    <br />
    <br />
    <button asp-page="" asp-page-handler="SortByGamesPlayed" class="btn btn-dark">Sort Players by Games Played</button>
    <br /><br />
    <button asp-page="" asp-page-handler="ShowGamesTable" class="btn btn-dark">Show Games Table</button>
    <br /><br />

    @*<select asp-for="SelectedPlayerName" asp-items="Model.PlayerNames" class="form-control">
        <option value="">Select a player</option>
    </select>
    <button asp-page-handler="GetGamesByPlayer" class="btn btn-dark">Show Games</button>*@
</form>
<form method="post" asp-page-handler="GetGamesByPlayer">
    <select name="playerName" asp-items="Model.PlayerNames" class="form-control">
        <option value="">Select a player</option>
    </select>
    <br />
    <button type="submit" class="btn btn-dark">Show Games</button>
</form>